.DS_Store
/build
__pycache__
__pycache__/
pycache/
*.pyc
/.svelte-kit
/package
.env
.env.
dev.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
smui.css

_# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.pyc.ghc

Virtual environment
venv/
*.venv

Distribution / packaging
.Python
dist/
build/
*.egg-info/
*.egg
*.wheel

Logs
*.log

IDE and editor files
.idea/
*.iml
*.suo
*.sln
*.user

Python cache
*.cache
*.pytest_cache

Operating system files
Thumbs.db

pagekite.py